<div>
    <h3 class = "theme-style">Mobile Solar Power Station</h3>
  <div class = "theme-style">
      <p>The goal of this project was to create a portable power station made out of aluminum and steel in order to supply power to people outdoors and in incliment weather. The ideal deployment includes wheels and a lightweight structure that allows for easy maneuvering and transport as well as solar panels for charging, a battery for storage of energy from the solar panels, and the ability to use common electrical plugs for ease of use. </p>
  </div>
  <div class = "theme-style">
      <div class = "row">
          <div class = "col">
        <img class = "theme-style2 image1" src = "./assets/solarpowerview1.jpg" />
      </div>
      <div class = "col">
        <img class = "theme-style2 image1" src = "./assets/solarpowerview2.jpg" />
      </div>
      <div class = "col">
        <img class = "theme-style2 image1" src = "./assets/solarpowerview3.jpg" />
      </div>
    </div>
      
  </div>
</div>