<!-- Footer -->
<footer class="letzte text-center text-lg-start">
  <!-- Grid container -->
    <!--Grid row-->
    <div class="row p-4">
      <!--Grid column-->
      <div class = "col-lg-1"></div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">  <!-- check out how to fix the columns to add more. footer links should map site? -->
        <h5 class="text-uppercase">Footer Content</h5>

        <div>
          <span>Thank you for visiting my site. I hope you enjoy your stay and that you find everything you hoped and dreamed. 
            Feel free to contact me for any questions or concerns</span>
          <ul class="list-unstyled">
            <li >Email: jordanzeeg@gmail.com</li>
            <li>Github: jordanzeeg: <a href="https://github.com/jordanzeeg" target="_blank">https://github.com/jordanzeeg</a></li>
          </ul>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class = "col-lg-1"></div>
      <div class="col">
        <h5 class="text-uppercase">Main Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a routerLink="../about" class="link-text">About</a>
          </li>
          <li>
            <a routerLink="../zweite" class="link-text">Projects</a>
          </li>
          <li>
            <a routerLink="../library" class="link-text">Library of Programs</a>
          </li>
          <li>
            <a routerLink="../hobbies" class="link-text">Hobbies</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col">
        <h5 class="text-uppercase mb-0">Projects</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/zweite/tsm" class="link-text">Tech Screen Management</a>
          </li>
          <li>
            <a routerLink="/zweite/ers" class="link-text">Expense Reimbursement System</a>
          </li>
          <li>
            <a routerLink="/zweite/msps" class="link-text">Mobile Solar Power Station</a>
          </li>
          <li>
            <a routerLink="/zweite/cdp" class="link-text">Capstone Design Project</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5 class="text-uppercase mb-0">Library of Programs</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/library/completions" class="link-text">Complete Programs</a>
          </li>
          <li>
            <a routerLink="/library/snippets" class="link-text">Snippets</a>
          </li>
          <li>
            <a routerLink="/library/automations" class="link-text">Automation</a>
          </li>
          <li>
            <a routerLink="/library/challenges" class="link-text">Programming Challenges</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
</footer>
<!-- Footer -->