<!-- Footer -->
<footer class="letzte text-center text-lg-start">
  <!-- Grid container -->
    <!--Grid row-->
    <div class="row p-4">
      <!--Grid column-->
      <div class = "col-lg-1"></div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">  <!-- check out how to fix the columns to add more. footer links should map site? -->
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class = "col-lg-1"></div>
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="link-text">Link 1</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 2</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 3</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="link-text">Link 1</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 2</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 3</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="link-text">Link 1</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 2</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 3</a>
          </li>
          <li>
            <a href="#!" class="link-text">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
</footer>
<!-- Footer -->