<div>
    <h2 class = "theme-style width-management align-center">Revature Social Network</h2>
  <div class = "theme-style width-management">
    <p>In Revature's Social Network everyone is friends with everyone. Users can register, login to the application and start sharing multimedia with
    everyone. Registered users are allowed to modify their personal information and upload their prole picture. The application provides a
    search feature that allows users to nd others and look at their proles. Users are provided with a "feed", in which they can see what
    everyone is posting, like it and comment it. Users can access and use the application via an interactive client-side single paged application
    that stores and retrieves multimedia using AWS S3 and consumes a RESTful web service that provides business logic and access to a
    database.
    </p>
    <ul>
        <li>Implemented the DAO Design pattern for loose coupling</li>
        <li>Developed the spring Controllers and used Dispatcher Servlet as the front controller.</li>
        <li>Mapped the Controller URLs to follow the REST API and Json as the standard format for data transfer.</li>
        <li>Modied Angular pages to create an appropriate user interface for resetting a password using an email service.</li>
        <li>Created an Email Service using JavaMailSender and Spring Context Support.</li>
        <li>Performed testing using Postman to verify the input and output of the Restful API.</li>
        <li>Managed version control using Git and separated development using branches.</li>
          <li>Implemented Log4J to debug and track the program.</li>
    </ul>
  </div>
</div>