*{
    color: white;
}
h2 {
    padding: 10px;
    text-align: center;
}
#canvasContainer {
    position:relative;

    padding-left: 5vw;
    padding-right: 5vw;
    width: 40vw;
    padding-bottom: 1vh;
    
}
#canvas1 {
    width: 100%;
    object-fit: contain;
    background-color: grey;
}

#canvas2 {
    width: 100%;
    object-fit: contain;
    background-color: grey;
}
#canvas3 {
    width: 100%;
    object-fit: contain;
    background-color: grey;
}
#canvas4 {
    width: 100%;
    object-fit: contain;
    background-color: grey;
}