<div >
    <nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Jordan Ziegler</a>
        <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/hobbies/books'>Books</a> 
            </li>
            <li>
                <a class="nav-link" href="/hobbies/games">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hobbies/pokemon">Pokemon</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/hobbies/lol">League of Legends</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href="/hobbies/other">Other</a>
            </li>
          </ul>
        </div>
    </nav>
</div>
<div>
    <router-outlet></router-outlet>
    
</div>

<div class = "canvasdiv">
<canvas id= "canvas1"></canvas>
</div>