<div class= "theme-style highlights">
	<h1 class = "align-center">Main Page Introduction</h1>
	<div class = "spacer"></div>
	<p id = "intro-paragraph">Welcome to my website. When I first started working on it I was frequently asked why I wanted one for myself. 
		One of the reasons obviously is that it is fairly common for software developers to create websites to function as a portfolio, especially if they've done front end work. 
		For me it was also really important to have a place where I could be proud of the work I've done, 
		or a place where I could be motivated to build work for the purpose of being shown on my website. 
		One of the primary motivators for me to follow channels like "The Coding Train" 
		and others is the fact that I have a website which can function as a workspace and a showcase I can share with my friends and easily be proud of it. 
		Another purpose this website serves is as a blog of sorts where I can freely express myself about whatever I want. 
		The simplicity of being able to use it as a journal of sorts where I can add pages to journal into about random events of the day, 
		or hopefully someday it will include some of the thoughts and ideas I've had regarding certain topics. 
		As I started to work on this website more I realized I additionally wanted it to be a place I could go to find examples of my code, 
		code that I was proud of, in order to reuse it in places where necessary. </p>
	<ul>
		<li>
			<div class = row>
				<div class="col-10" id = "conway-description">Conway's game of life is a clever program that was developed in 1970 by John Conway. 
					It's a pretty clever program that fits into the cellular automata categorization. I was inspired to work on from The Coding Train on youtube. 
					I love doing cool graphics and I especially enjoyed working on a program utilizing a 2d grid. 
					A notable feature of the game of life is that it can be turing complete. 
				</div>
				<div class = "col-2 align-center">
					<a routerLink="/library/automata/conway"><button class = "btn btn-primary">Conway's Game of Life</button></a>
				</div>
			</div> 
		</li>
		<li>
			<div class = "spacer"></div>
			<div class = row>
				<div class="col-10" id = "langton-description">Langton's ant is another cellular automata. 
					What's cool about this one is that given infinite space it devolves into a set pattern which is somewhat interesting. 
					It was developed in 1986 by Chris Langton. It's another clever program I was inspired to work on from The Coding Train on youtube.
				</div>
				<div class = "col-2 align-center">
					<a routerLink="/library/automata/langton"><button class = "btn btn-primary">Langton's Ant</button></a>
				</div>
			</div> 
		</li>
		<li>
			<div class = "spacer"></div>
			<div class = row>
				<div class="col-10" id = "sales-description">The traveling salesman problem is an interesting one I came across multiple times before finally deciding to code on it. 
					I was again partly inspired by seeing that The Coding Train did a video on it, 
					but also I love the concept of this because a major solution to this problem involved information gathered from observing ant colonies. 
					One of the things that's always fascinating to me is when we can learn complex systems and solutions from nature and the creatures around us. 
					I learned in school that this ant colony optimization was integral in the development of cellular phones which is pretty fascinating. 
					In this particular page I showcase multiple different solutions to the problem. 
				</div>
				<div class = "col-2 align-center">
					<a routerLink="/library/automata/sales"><button class = "btn btn-primary">Traveling Salesman</button></a>
				</div>
			</div> 
		</li>
		<li>
			<div class = "spacer"></div>
			<div class = row>
				<div class="col-10" id="flock-description">One of my goals in life is to build a 2d turn based strategy game, 
					and so there are a lot of concepts related to that which I have an interest in because I know they will be helpful when I work on that project. 
					The boids algorithm, designed by Craig Reynolds in 1986,
					is one of those concepts because it provides an option for AI units to be controlled while still providing for somewhat natural movements and flow. 
					I was again introduced to this concept by The Coding Train.
				</div>
				<div class = "col-2 align-center">
					<a routerLink="/library/automata/flock"><button class = "btn btn-primary">Boids Algorithm</button></a>
				</div>
			</div> 
		</li>
		<li>
			<div class = "spacer"></div>
			<div class = row>
				<div class="col-10"id="linked-list-description">Another project I worked on and am fairly proud of is this linked list showcase. 
					One of the things that's seemed pretty difficult for me to find on the internet is a good graphical representation of the data structures. 
					Because of that I felt it was pretty important that I could showcase my knowledge of such by also providing one such representation. 
				</div>
				<div class = "col-2 align-center">
					<a routerLink="/library/data/linked-list"><button class = "btn btn-primary">Linked List</button></a>
				</div>
			</div> 
		</li>
	</ul>
	
</div>
<div class ="backzone">
	<div class="jcard content-table-card content-table-erste">
	  <a routerLink="/about">
	  	<div class="card-body">
		    <h5 class="card-title">About Me</h5>
		    <p class="card-text">Click here if you want to learn more about me and some of the past jobs and projects I have accomplished. </p>
		    <a routerLink="/about" class="btn btn-primary btn-text">Oh the places we'll go</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-zweite" >
	  <a routerLink="/zweite">
	  	<div class="card-body">
		    <h5 class="card-title">Projects</h5>
		    <p class="card-text">Click here to read more about some of the projects I've done. This includes projects for college and work projects</p>
		    <a routerLink="/zweite" class="btn btn-primary btn-text">Check out some past work!</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-dritte">
	  <a routerLink = "/library">
	  	<div class="card-body">
		    <h5 class="card-title">Library of Programs</h5>
		    <p class="card-text">This is where I store a lot of the programs and functions I think are worth reusing. This is where I can just deploy things for the fun of it, and to prove that it is simple to create things and use them.</p>
		    <a routerLink="#" class="btn btn-primary btn-text">Take a look, in a book...</a>
		</div>
	  </a>
	</div>
	<div class="jcard content-table-vierte">
	  <a routerLink="/hobbies">
	  	<div class="card-body">
		    <h5 class="card-title">Hobbies</h5>
		    <p class="card-text">Sometimes you just want to have fun. This is the place where a lot of the fun and enjoyment I experience can be shown.</p>
		    <a routerLink = "/hobbies" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-funfte" >
	  <a routerLink="/soapbox">
	  	<div class="card-body">
		    <h5 class="card-title">But did you consider?</h5>
		    <p class="card-text">This is the bonus card for better ideas.</p>
		    <a routerLink="#" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
</div>
