<div class = topdiv></div>
<div class ="backzone">
	<div class="jcard content-table-card content-table-erste">
	  <a routerLink="/about">
	  	<div class="card-body">
		    <h5 class="card-title">About Me</h5>
		    <p class="card-text">Click here if you want to learn more about me and some of the past jobs and projects I have accomplished. </p>
		    <a routerLink="/about" class="btn btn-primary btn-text">Oh the places we'll go</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-zweite" >
	  <a routerLink="/zweite">
	  	<div class="card-body">
		    <h5 class="card-title">Projects</h5>
		    <p class="card-text">Click here to read more about some of the projects I've done. This includes projects for college and work projects</p>
		    <a routerLink="/zweite" class="btn btn-primary btn-text">Check out some past work!</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-dritte">
	  <a routerLink = "/library">
	  	<div class="card-body">
		    <h5 class="card-title">Library of Programs</h5>
		    <p class="card-text">This is where I store a lot of the programs and functions I think are worth reusing. This is where I can just deploy things for the fun of it, and to prove that it is simple to create things and use them.</p>
		    <a routerLink="#" class="btn btn-primary btn-text">Take a look, in a book...</a>
		</div>
	  </a>
	</div>
	<div class="jcard content-table-vierte">
	  <a routerLink="/hobbies">
	  	<div class="card-body">
		    <h5 class="card-title">Hobbies</h5>
		    <p class="card-text">Sometimes you just want to have fun. This is the place where a lot of the fun and enjoyment I experience can be shown.</p>
		    <a routerLink = "/hobbies" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
	<div class="jcard  content-table-funfte" >
	  <a routerLink="/soapbox">
	  	<div class="card-body">
		    <h5 class="card-title">But did you consider?</h5>
		    <p class="card-text">This is the bonus card for better ideas.</p>
		    <a routerLink="#" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
</div>
