<div class = "jumbotron"> 
    I'm not sure what this is gonna look like, but it should included a few things, like a link to the github location for the program
</div>>

<div class = "container">
    <div class = "row">
        <div class = "col">
            left side, put a table here. generated dynamically through databinding, includes a listing for each page of the program. 
        </div>
        <div class = "col">
            right side, should be styled to actually take up most of the page. 
            this side should have the actual pages of the program. each selection on the left side should "load" a new page.
        </div>
    </div>
</div>


