<div>
    <h3 class = "jumbotron v2 theme-style">Expense Reimbursement System</h3>
  <div class = "jumbotron v2 theme-style"><p>The Expense Reimbursement System (ERS) will manage the process of reimbursing employees for expenses incurred while on company time. All employees in the company can login and submit requests for reimbursement and view their past tickets and pending requests. Finance managers can log in and view all reimbursement requests and past history for all employees in the company. Finance managers are authorized to approve and deny requests for expense reimbursement. </p>
      <ul>
          <li>Generated schema for database using SQL calls.</li>
          <li>Created the functionality to connect to the database using Java and JDBC in order to transfer data from Java into the SQL database.</li>
          <li>Used Servlet functionality to generate HTML pages that can be accessed through a URL.</li>
          <li>Generated JSON files using Servlet, Jackson, and Java functionality with data from the database.</li>
          <li>Created Login functionality by storing usernames and passwords in the database, and created an authentication system using HttpSession objects to verify if they are a manager or a standard user.</li>
          <li>Created views using HTML, CSS, Bootstrap for the users to make managing their reimbursement requests clean and friendly</li>
          <li>Ran the program successfully for demo as a Dynamic Web Project using Maven and Tomcat Server</li>
      </ul>
  </div>
</div>