.canvasdiv {
	height : 90vh;
	width: 100%;
}

#canvas1 {
	position: relative;
	height:  100%;
	width: 100%;
}

.demodiv {
	height: 100px;
	width: 100px;
	position: relative;
	background-color: rgb(220,53,69,.5);
}