<div class = topdiv></div>
<div class ="backzone">
	<div class="jcard content-table-card content-table-erste">
	  <a routerLink="books">
	  	<div class="card-body">
		    <h5 class="card-title">Books</h5>
		    <p class="card-text">Click here if you want to learn about the books I've read. Except not actually because this page hasn't been created yet. </p>
		    <a routerLink="books" class="btn btn-primary btn-text">Oh the places we'll go</a>
		</div>
	  </a>
	</div>
	<div class="content-table-card  content-table-zweite" >
	  <a routerLink="games">
	  	<div class="card-body">
		    <h5 class="card-title">Games</h5>
		    <p class="card-text">Click here to see some of the games I've created. Except not actually because this page hasn't been created yet. </p>
		    <a routerLink="games" class="btn btn-primary btn-text">Check out some past work!</a>
		</div>
	  </a>
	</div>
	<div class=" content-table-card  content-table-dritte">
	  <a routerLink = "pokemon">
	  	<div class="card-body">
		    <h5 class="card-title">Pokemon</h5>
		    <p class="card-text">Check out my pokemon team that got me to 100 wins!</p>
		    <a href="#" class="btn btn-primary btn-text">Take a look, in a book...</a>
		</div>
	  </a>
	</div>
	<div class="content-table-card content-table-vierte">
	  <a routerLink="lol">
	  	<div class="card-body">
		    <h5 class="card-title">Video Games</h5>
		    <p class="card-text">Check out some of the video games I've played. Except not actually because this page hasn't been created yet.</p>
		    <a routerLink = "lol" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
	<div class=" content-table-card  content-table-funfte" >
	  <a routerLink="">
	  	<div class="card-body">
		    <h5 class="card-title">But did you consider?</h5>
		    <p class="card-text">This is the bonus card for better ideas.</p>
		    <a href="#" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
</div>
