.top-div {
	height: 50px;
}

.title-div {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;

}
.titlestyle {
	
	text-align: center;
}
.divzero {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divone {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divtwo {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divthree {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}

.theme-style {
	opacity: .8;
	box-shadow:  8px 8px 15px 7px rgba(0, 0, 0, 0.61), 0 6px 20px 0 rgba(0, 0, 0, 0.61);
	color: white;
	background-color: darkslategrey;
	margin: auto;
	margin-top: 5vw;
}
