<div class = "top-div"></div>
<div class= "title-div theme-style">
	<h1>About Jordan Ziegler</h1>
	<p>I am a software developer with experience in the full stack development of a web application. I graduated from California
	Baptist University with a degree in Electrical and Computer Engineering. I have created dynamic front-end applications
	using Ruby on Rails, HTML, CSS, Javascript, Angular, Bootstrap, and TypeScript. In fact, you are reading one of these applications right now. 
	 In addition, I have created applications that utilize Servlets and Spring to transfer
	data from the front end to the back end. I have used SQL, Hibernate, and Spring Data to manage data in an Oracle
	database. In short, I've worked on a lot of things, and I feel the need to put them all in one place. This website will serve as a resume with code examples. 
	I graduated from California Baptist University, and when we were working on the MicroMouse competition, we talked about how other colleges had programming libraries 
	with functions their students could draw from and use to build their future projects and programs. 
	I felt like it would be important to myself and others to create one of those, and I will use this as my medium. </p>
	
</div>
<div class="divzero theme-style">
	<h2 class = "titlestyle">Work Experience</h2>
	<h5 >Zoho Developer</h5>
	<p>As a software developer for a small company I wear many hats. Whether it comes to tracking data from a recently updated phone system, 
		building IVR systems in twilio, developing charts and figures from the SQL Database, or creating zoho deluge functions to streamline business processes, it comes down to me.</p>
		<ul>
			<li>Continuously research, design, document, and modify software specifications throughout the CRM production life cycle</li>
			<li>Create new and enhance existing components on the ZOHO platform using tools like Java C#</li>
			<li>Build extensions/widgets for the CRM platform using HTML, CSS JavaScript</li>
			<li>Produce clean, well-documented, efficient, and standards-compliant components with an eye towards performance optimization</li>
			<li>Write secure code and exercise good judgment in handling sensitive data</li>
			<li>Embrace emerging CRM standards while promoting best practices</li>
			<li>Improve quality through application of TDD practices</li>
			<li>Maintain a high awareness of industry issues and trends, particularly concerning accessibility usability, 
				and emerging technologies; keep team members informed as appropriate, with a view to incorporating these in future projects</li>
			<li>Write technical software requirements as needed</li>
			<li>Evaluate other CRM developer code quality and provide input for performance evaluations</li>
			<li>Understand client short and long-term goals and recommending a solution</li>
			<li>Comfortable troubleshooting critical production issues</li>
			<li>Integrating designs, flows, and processes</li>
			<li>Pay attention to software development process practiced by the team and help improve it, 
				so we deliver products on time with quality following an agile approach</li>
			<li>Foster a culture of continuous improvement by learning, applying, and educating team on software best practices</li>
		</ul>
</div>
<div class = "divone theme-style">
	<h5 >Software Engineer at Sam's Club</h5>
	<p >While working for Revature I was contracted to work for Sam's Club on their NextGen POS project. NextGen POS is a web
	application that utilizes javascript and the dojo toolkit to create, manage, and complete transactions for the purpose of
	sales. This project uses Java and JSON objects to communicate with various services to get data to provide information
	and interact with the customer.</p>
	<ul>
		<li>Examined and repaired errors in Javascript files.</li>
		<li>Examined and repaired errors in CSS.</li>
		<li>Made CSS changes in line with existing documentation of graphics</li>
		<li>Developed new Dojo modules using HTML, CSS, Javascript and Dojo functionalities.</li>
		<li>Support Dojo modules with Java functionality to display information</li>
		<li>Use Java to send/receive information from backend services.</li>
		<li>Generated CSS to follow Sam's Club thematic.</li>
		<li>Created Splunk dashboards to monitor data of test units.</li>
	</ul>
</div>
<div class = "divtwo  theme-style">
	<h5 >Google Expert</h5>
	<p >The Google expert is responsible for delivering an end to end Google experience across the entirety of the Google ecosystem. This Google expert achieves sales targets across units, revenue, margin, and solutions and ensures that no customers are left unserved or underserved, providing velocity, full service, and solutions support to customers. The expectation is to build quality relationships with retail customers while providing them with relevant and memorable product demonstrations. The Google expert takes complex technology and makes it simple for clients to understand and see unique value. The google expert is also responsible for developing relationships, coaching, and training with their store; sharing their vast knowledge of the Google ecosystem with sales consultants throughout the store.
	</p>
</div>
<div class = "divthree theme-style">
	<h5>Geek Squad Consultation Agent</h5>
	<p>Consultation agents listen to client's needs to discern and troubleshoot the issues they had with their electronic devices. An emphasis on consistency and expediency is placed in order to provide them with an understanding of what the best solution is to solve their technical issues and the next steps we would take to provide a complete and lasting solution.
	</p>
</div>