.top-div {
	height: 50px;
}

.title-div {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;

}
.titlestyle {
	
	text-align: center;
}
.divzero {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
	margin-top: 2vh;
}
.divone {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divtwo {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divthree {
	width: 75vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.pdf-viewer {
	width: 100%;
	height: 75vh;
}
