div{
	font-style: italic;
	color:white;
}

.title-div {
	background-color: rgb(220,53,69,.5);
	margin-right: 5vw;
	margin-left: 5vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divone {
	background-color: rgb(1,98,204,.5);
	margin-right: 5vw;
	margin-left: 5vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divtwo {
	background-color: rgb(220,53,69,.5);
	margin-right: 5vw;
	margin-left: 5vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
.divthree {
	background-color: rgb(1,98,204,.5);
	margin-right: 5vw;
	margin-left: 5vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
