<h2 class = "theme-style width-management align-center">Capstone Design Project</h2>
		<div class = "theme-style width-management">
			<p>The task of this project is to create an Augmented Reality application that will help people navigate through a building using visual cues. As mentioned, this app will rely on Augmented Reality (AR) technology; a technology that is intimately tied with your location and that can access information sources that will improve your understanding of how to reach your destination. This app should have a user-friendly Graphical User Interface (GUI) with a scroll or drop down menu for all the rooms in the building. </p>
			<p>The idea of the app is to build an interface in android studio that allows us to select the information required, then send that information to a unity project that utilizes the camera to perform image recognition through vuforia to generate directional arrows for the user to follow on their journey through the building.<br/> <br/> </p>
			<div class = "theme-style2 align-center">
				<img src = "./assets/unity-screenshot.jpg" />
			</div>
			<div class = "theme-style2 align-center">
				<img src = "./assets/AR-flow.jpg"/>
			</div>
		</div>