.first {
	color: green;
}

.topdiv {
	height: 50px;
}
.divone {
	background-color: rgb(1,98,204);
	margin-right: 5vw;
	margin-left: 5vw;
	padding-right: 5vw;
	padding-left: 5vw;
}

.navbar-fixed {
	position: fixed;
	width: 100vw;
}