
<div >
	<nav class="navbar navbar-fixed navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" routerLink="#">Jordan Ziegler</a>
	  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
		  <ul class="navbar-nav mr-auto">
		        <li class="nav-item active">
		          <a class="nav-link" routerLink="/zweite">Home <span class="sr-only">(current)</span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" routerLink='/zweite/tsm'>Tech Screen Management</a> 
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" routerLink="/zweite/ers">Expense Reimbursement System</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" routerLink="/zweite/msps">Mobile Solar Power Station</a>
		        </li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/zweite/rsn">Revature Social Network</a>
				  </li>
		        <li class = "nav-item">
		        	<a class = "nav-link" routerLink="/zweite/cdp">Capstone Design Project</a>
		        </li>
		      </ul>
		    </div>
		</nav>
	</div>
	<div>
		<div class = "topdiv"></div>
		<router-outlet></router-outlet>
		
	</div>

  	
	




