<div class = topdiv></div>
<div class ="backzone">
	<div class="card jcard" id = "ersteCard">
	  <a routerLink="/about">
	  	<div class="card-body">
		    <h5 class="card-title">Programs</h5>
		    <p class="card-text">Click here if you want to submit a program to the database. </p>
		    <a href="#" class="btn btn-primary btn-text">Oh the places we'll go</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "zweiteCard">
	  <a routerLink="/zweite">
	  	<div class="card-body">
		    <h5 class="card-title">Projects</h5>
		    <p class="card-text">Click here to submit a project I've worked on. </p>
		    <a routerLink="/projects" class="btn btn-primary btn-text">Check out some past work!</a>
		</div>
	  </a>
	</div>
	<div class="card jcard " id = "dritteCard">
	  <a routerLink = "/library">
	  	<div class="card-body">
		    <h5 class="card-title">Soapbox</h5>
		    <p class="card-text">Click here to submit a blog post style message to tell people the things you feel strongly about.</p>
		    <a href="#" class="btn btn-primary btn-text">Take a look, in a book...</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "vierteCard">
	  <a routerLink="/hobbies">
	  	<div class="card-body">
		    <h5 class="card-title">Hobbies</h5>
		    <p class="card-text">Click here to add information about the hobbies that you enjoy. Tell people what fun you're having. </p>
		    <a routerLink = "/hobbies" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "funfteCard">
	  <a routerLink="/soapbox">
	  	<div class="card-body">
		    <h5 class="card-title">But did you consider?</h5>
		    <p class="card-text">This is the bonus card for better ideas.</p>
		    <a href="#" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
</div>
