<div class = topdiv></div>
<div class ="backzone">
	<div class="card content-table-card content-table-erste">
	  <a routerLink="/programs-form">
	  	<div class="card-body">
		    <h5 class="card-title">Programs</h5>
		    <p class="card-text">Click here if you want to submit a program to the database. </p>
		    <a href="#" class="btn btn-primary btn-text">Oh the places we'll go</a>
		</div>
	  </a>
	</div>
	<div class="card content-table-card content-table-zweite">
	  <a routerLink="/formz/challenge-form">
	  	<div class="card-body">
		    <h5 class="card-title">Challenge</h5>
		    <p class="card-text">Click here to submit a challenge I've worked on. </p>
		    <a routerLink="/formz/challenge-form" class="btn btn-primary btn-text">Upload some cool challenges!</a>
		</div>
	  </a>
	</div>
	<div class="card content-table-card content-table-dritte ">
	  <a routerLink = "/formz/soapbox-form">
	  	<div class="card-body">
		    <h5 class="card-title">Soapbox</h5>
		    <p class="card-text">Click here to submit a blog post style message to tell people the things you feel strongly about.</p>
		    <a href="/formz/soapbox-form" class="btn btn-primary btn-text">Take a look, in a book...</a>
		</div>
	  </a>
	</div>
	<div class="card content-table-card content-table-vierte">
	  <a routerLink="/hobbies">
	  	<div class="card-body">
		    <h5 class="card-title">unknown</h5>
		    <p class="card-text">this form has yet to be defined </p>
		    <a routerLink = "/hobbies" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
	<div class="card content-table-card content-table-funfte">
	  <a routerLink="/consideration">
	  	<div class="card-body">
		    <h5 class="card-title">But did you consider?</h5>
		    <p class="card-text">This is the bonus card for better ideas.</p>
		    <a href="#" class="btn btn-primary btn-text">Go somewhere</a>
		</div>
	  </a>
	</div>
</div>
