<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- plans for the entire website  * * * * * * * * * * * * * * * * -->
<!-- about me page, with the resume, and then everything or most things listed there is a link to another page with more details, hobbies page - with some dynamic js to make things move across the screen like a 90s screensaver specifically highlight clips from league of legends, book covers, chess games, advance wars and fire emblem maps, with links to more normal pages, i want another page with a chess game, i might try to make it vs ai, or i'll do a community vs me kind of deal, and i dont have any chess highlights yet, but i might add chess highlights and a link to my chess.com profile on the hobbies page too -->
<!-- note: for chess game updates tour of heroes suggests ngModel for 2 way binding. -->
<!-- * * * * * * * Is my code! * * * * * * * * * * * * * * * * * * -->

<!-- <h1>{{title}}</h1> title binding-->
<div class="backgroundphoto">
  <app-erste></app-erste>
  <div class="topdiv"></div>
  <router-outlet></router-outlet>
  <div class = "bottom-div"></div>
</div>
<app-footer></app-footer>