.backzone {
	width: 70vw;
	height: 100vh;
	margin: auto;
	opacity: .8;
}
.jcard {
	
	width: 20vw;
	box-shadow:  8px 8px 15px 7px rgba(0, 0, 0, 0.61), 0 6px 20px 0 rgba(0, 0, 0, 0.61);
	background-color: darkslategrey;
	color: white;
	border-radius: 1.5em;
	font-size: 1vw;
}
h5 {
	font-size: 2vw;
}
.topdiv {
	height: 55px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

.btn-text {
	font-size: 1em;
}

/* add generic styling to place them nonsequentially, and add css animation to move up and down*/

#ersteCard {
	position: relative;
	top: 1vh;
	left:2vw;
	animation: ersteKey 4s infinite;
	animation-direction: alternate;
}

#zweiteCard {
	position: relative;
	top: 5vh;
	left: 25vw;
	animation: zweiteKey 1.5s infinite;
	animation-direction: alternate-reverse;
}

#dritteCard {
	position: relative;
	top: -25vh;
	left: 47vw;
	animation: zweiteKey 3s infinite;
	animation-direction: alternate-reverse;
}

#vierteCard {
	position: relative;
	top:-50vh;
	left:35vw;
	animation: vierteKey 4s infinite;
	animation-direction: alternate-reverse;
}

#funfteCard {
	position: relative;
	top:-80vh;
	left:0vw;
	animation: zweiteKey 4s infinite;
	animation-direction: alternate-reverse;
}

/* has it move in a square counter clockwise below initial position*/
@keyframes ersteKey {  
	0% {transform: translate(0vw,0vh);}
	25% { transform: translate(0,20vh); }
	50% { transform: translate(20vw,20vh); }
	75% { transform: translate(20vw,0vh); }
	100% {transform: translate(0vw,0vh);}
}

/* has it move in a a line above initial position */
@keyframes zweiteKey {
	0% {transform: translate(0vw,0vh);}
	50% { transform: translate(0,30vh); }
	100% {transform: translate(0vw,0vh);}
}

/* has it move in a line to the right of initial position */
@keyframes vierteKey {
	0% {transform: translate(0vw,0vh);}
	50% { transform: translate(-30vw,0vh); }
	100% {transform: translate(0vw,0vh);}
}

