<nav class="navbar navbar-fixed navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " href="#">Jordan Ziegler</a>
    <button class="navbar-toggler themeColor" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link " routerLink="/info">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about'>{{about.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/zweite">{{zweite.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/library">{{library.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hobbies">{{hobbies.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/soapbox">{{soapbox.name}}</a>
        </li>
      </ul>
    </div>
</nav>