#canvas1 {
    width: 100%;
    object-fit: contain;
    background-color: grey;
}

#canvasContainer {
    position:relative;

    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
    padding-bottom: 1vh;
    
}