<h2 class = "theme-style width-management align-center">Tech Screen Management</h2>
	<div class = "theme-style width-management"><p>ScreenForce is an application intended to help technical screeeners assess potential Revature employees. The application alallows for users to track candidates by managing screening scores and notes. The application is built on a Java Microservice ecosystem and leverages a frontend built with Angular.</p>
		<ul>
			<li>Developed various Microservices using Spring Boot, Hibernate, and Restful web services technologies</li>
			<li>Developed the Jenkins Pipelines for Continuous Integration and Continuous Delivery.</li>
			<li>Explained the best practices for Git branching and merge conflict avoidance.</li>
			<li>Assisted with the development of the front end of the project using Angular.</li>
			<li>Converted project builds to Docer Images for server deployment of each microservice.</li>
			<li>Deployed project to AWS EC2 Server.</li>
			<li>Created JUnit test cases for Jenkins to use and to follow test driven development</li>
			<li>Worked in Agile Environment and used Trello to manage the project.</li>
			<li>Tested and verified microservice input and output using Postman.</li>
		</ul>
	</div>