<div class ="backzone">
	<div class="card jcard" id = "ersteCard">
	  <a routerLink="/zweite/tsm">
	  	<div class="card-body">
		    <h5 class="card-title">Tech Screen Management</h5>
		    <p class="card-text">the Tech Screen Management program was designed to help manage interviews of tech employees. </p>
		    <a routerLink="/zweite/tsm" class="btn btn-primary btn-text">Check it out!</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "zweiteCard">
	  <a routerLink="/zweite/rsn">
	  	<div class="card-body">
		    <h5 class="card-title">Revature Social Network</h5>
		    <p class="card-text">Revature's Social Network is a program where friends can share posts and images. </p>
		    <a routerLink="/zweite/rsn" class="btn btn-primary btn-text">Check it out!</a>
		</div>
	  </a>
	</div>
	<div class="card jcard " id = "dritteCard">
	  <a routerLink="/zweite/msps">
	  	<div class="card-body">
		    <h5 class="card-title">Mobile Solar Power Station</h5>
		    <p class="card-text">The Mobile Solar Power Station is designed to bring electricity to places without it.</p>
		    <a routerLink="/zweite/msps" class="btn btn-primary btn-text">Check it out!</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "vierteCard">
	  <a routerLink="/zweite/cdp">
	  	<div class="card-body">
		    <h5 class="card-title">Capstone Design Project</h5>
		    <p class="card-text">This program utilized augmented reality and the unity engine in order to create a map for people to navigate a building. </p>
		    <a routerLink = "/zweite/cdp" class="btn btn-primary btn-text">Check it out!</a>
		</div>
	  </a>
	</div>
	<div class="card jcard" id = "funfteCard">
	  <a routerLink="/zweite/ers">
	  	<div class="card-body">
		    <h5 class="card-title">Expense Reimbursement System</h5>
		    <p class="card-text">This is a program to manage the expenses that might occur in a business setting. </p>
		    <a routerLink="/zweite/ers" class="btn btn-primary btn-text">Check it out!</a>
		</div>
	  </a>
	</div>
</div>
