

<div class = "container theme-style">
    <h3 class = "align-center">Pokemon Teams!</h3>
    <p> This is an overview of the parts of my pokemon journey I am most proud of. 
        I have played a lot of pokemon and done a lot, but other than beating the game, 
        and occasionally playing against my friends, there is not much noteworthy. 
        The most noteworthy accomplishment is making it over 100 wins in the battle tree in Ultra Moon. 
        This accomplishment is described below. </p>
</div>

<div class = "container theme-style">
    <h2 class = "align-center">
        Team that made it to 100
    </h2>
    <p >
Ever since the release of Pokemon Ultra Sun/Moon, I've been trying many teams out in an effort to get past 100 wins in the battle tower. 
My team made it to 104 wins surpassing my goal! 
This is one of the few goals in video games I can feel proud of. 
This team was put together through many iterations and attempts to perfect it before success. 
    <br><br>
Garchomp @ Assault vest<br>
Ability: Sand veil<br>
Level: 50<br>
EVs: 252 Atk / 252 speed<br>
Adamant Nature<br>
IVs: x/x/x/x/x/x<br>
- Earthquake<br>
- Rock Slide<br>
- bulldoze<br>
- dragon claw<br>
<br>
Garchomp was my main damage from the front line. In my previous teams he kept getting killed by pokemon without STAB using Ice type moves to eliminate him. 
The calcs changed once I realized I could give him assault vest, and now he lives every ice attack besides stab. 
Typical use of garchomp involves spamming earthquake when neither enemy pokemon is flying, and using dragon claw to pick off dragon types and take out other flying pokemon. 
Rock slide provides some coverage for flying pokemon and for flinch hax next to togekiss, but rock slide does tend to miss when you need it most so it does a great job of baiting me more than anything.
<br><br>
Togekiss @ Wiki Berry<br>
Ability: Serene Grace<br>
Level: 50<br>
EVs: 252 SpAtk / enough speed EVs to reach 105, and the rest in HP<br>
Modest Nature<br>
IVs: 31/31/31/31/31/31<br>
- Follow Me<br>
- Encore<br>
- Air Slash<br>
- Tailwind<br>
<br>
Togekiss is by far my favorite pokemon on this team. It provided some much needed protection for garchomp. An interesting side effect of the AI is that if they had a dragon pokemon, 
they would always spam it into garchomp regardless of how many times I used follow me, and neutralized it. 
Dragon claw's mediocre damage in that case doesn't matter when latios continually draco meteors or dragon claws into togekiss. 
tailwind + encore allowed me to punish fake out users, protect users, and most setup sweepers. The only setup move I worried about was double team. 
It also caught all the terrain and weather setters as well. Air slash is for the damage, and the flinches, 
and tailwind allowed my backup pokemon to outspeed every pokemon on the field.
<br><br>
Metagross @ metagrossite<br>
Ability: Clear Body<br>
Level: 50<br>
EVs: 252 Atk / 252 HP<br>
Adamant Nature<br>
IVs: 31/31/31/31/31/31<br>
- Protect<br>
- Iron Head<br>
- Brick Break<br>
- Zen Headbutt<br>
<br>
This pokemon was my second damage dealer, and synergized well with the coverage of garchomp, and appreciated togekiss' support moves. 
Pretty straightforward, Prioritizing iron head and brick break because they don't miss. 
I got inspired to use this pokemon watching a video of mega gallade next to togekiss, 
and realized mega metagross could provide that same incredible single target damage that togekiss sorely needed. 
I also greatly appreciated the added bulk metagross takes to the table.
<br><br>
Rotom-Wash @ Waterium Z<br>
Ability: Levitate<br>
Level: 50<br>
EVs: 252 SpAtk / 252 HP<br>
Modest Nature<br>
IVs: x/x/x/x/x/x<br>
- Will O Wisp<br>
- Discharge<br>
- Thunderbolt<br>
- Hydro Pump<br>
<br><br>
I had tried this team many times with a different 4th pokemon and none seemed to work. Adding rotom wash provided a second pokemon for garchomp to EQ next to, 
while also adding the crucial water/thunder coverage this team needed to deal with rock types, flying types, and water types. 
Also having a discharge/earthquake combo is very sweet. Rotom gets waterium z to increase hydro pump's accuracy and provide a beautiful single target OHKO. 
Will o wisp is for stall pokemon, and for physical attackers that aren't threatened by whatever pokemon I have in the lategame.
        </p>

</div>
